In [1]:
#import libraries

import numpy as np
import pandas as pd

from bokeh.layouts import column
from bokeh.models import ColumnDataSource, RangeTool
from bokeh.plotting import figure, show

#import data

data = pd.read_csv(r'Data/bitcoin.csv')
data.head()

         date     price
0  2020-08-08  11605.60
1  2020-08-09  11767.60
2  2020-08-10  11684.06
3  2020-08-11  11893.03
4  2020-08-12  11392.43

In [2]:
dates = np.array(data['date'], dtype=np.datetime64)

In [31]:
price_diff = []
for i in data.index:
    if i == 0:
        price_diff.append(0)
        continue
    price_now = data.iloc[i, 1]
    price_lastday = data.iloc[i-1, 1]
    price_diff.append(price_now - price_lastday)

data['price_diff'] = price_diff
data

           date     price  price_diff
0    2020-08-08  11605.60        0.00
1    2020-08-09  11767.60      162.00
2    2020-08-10  11684.06      -83.54
3    2020-08-11  11893.03      208.97
4    2020-08-12  11392.43     -500.60
..          ...       ...         ...
361  2021-08-04  38138.00    -1055.94
362  2021-08-05  39750.14     1612.14
363  2021-08-06  40882.00     1131.86
364  2021-08-07  42825.95     1943.95
365  2021-08-08  44634.13     1808.18

[366 rows x 3 columns]

In [32]:
source = ColumnDataSource(data = dict(date = dates, close = data['price'], diff = data['price_diff']))

In [33]:
p = figure(height=300, width=800, tools="xpan", toolbar_location=None,
           x_axis_type="datetime", x_axis_location="above",
           background_fill_color="#FFF0F5", x_range=(dates[1], dates[10]))

# p.line('date', 'close', source=source)
p.line('date', 'price_diff', source = source)
p.yaxis.axis_label = 'Price'
p.xaxis.axis_label = 'Date'

select = figure(title="Drag the middle and edges of the selection box to change the range above",
                height=130, width=800, y_range=p.y_range,
                x_axis_type="datetime", y_axis_type=None,
                tools="", toolbar_location=None, background_fill_color="#FFF0F5")

range_tool = RangeTool(x_range=p.x_range)
range_tool.overlay.fill_color = "#efefef"
range_tool.overlay.fill_alpha = 0.2

# select.line('date', 'close', source=source)
select.line('date', 'price_diff', source=source)
select.ygrid.grid_line_color = None
select.add_tools(range_tool)
select.toolbar.active_multi = range_tool

show(column(p, select))

ERROR:bokeh.core.validation.check:E-1001 (BAD_COLUMN_NAME): Glyph refers to nonexistent column name. This could either be due to a misspelling or typo, or due to an expected column being missing. : key "y" value "price_diff" [renderer: GlyphRenderer(id='6093', ...)]
ERROR:bokeh.core.validation.check:E-1001 (BAD_COLUMN_NAME): Glyph refers to nonexistent column name. This could either be due to a misspelling or typo, or due to an expected column being missing. : key "y" value "price_diff" [renderer: GlyphRenderer(id='6069', ...)]