# NSW Sales Process

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('NSWsales.csv')
data

,weekenddt,shopnum,shoppostcode,qtyinshop,qtyonorder,qtysold,weekenddtYMD,producttype,supplierid,gtin,lonadj,latadj,shopgln
0,26/01/2019,17,2640.0,2,0,0,2019-01-26,Educational Toys,1,9351635000011,146.913642,-36.074029,9351635099978
1,26/01/2019,17,2640.0,3,0,0,2019-01-26,Educational Toys,1,9351635000073,146.913642,-36.074029,9351635099978
2,26/01/2019,17,2640.0,3,0,0,2019-01-26,Educational Toys,1,9351635000080,146.913642,-36.074029,9351635099978
3,26/01/2019,17,2640.0,2,6,0,2019-01-26,Educational Toys,1,9351635000110,146.913642,-36.074029,9351635099978
4,26/01/2019,17,2640.0,7,0,0,2019-01-26,Educational Toys,1,9351635000134,146.913642,-36.074029,9351635099978
...,...,...,...,...,...,...,...,...,...,...,...,...,...
541181,18/01/2020,384,2154.0,5,0,0,2020-01-18,Home decorations,5,9351635015619,151.006386,-33.729960,9351635099701
541182,18/01/2020,384,2154.0,4,0,0,2020-01-18,Home decorations,5,9351635015626,151.006386,-33.729960,9351635099701
541183,18/01/2020,384,2154.0,2,6,0,2020-01-18,Home decorations,5,9351635015633,151.006386,-33.729960,9351635099701
541184,18/01/2020,384,2154.0,5,0,0,2020-01-18,Home decorations,5,9351635015640,151.006386,-33.729960,9351635099701
541185,18/01/2020,384,2154.0,3,0,0,2020-01-18,Home decorations,5,9351635015657,151.006386,-33.729960,9351635099701

In [9]:
data['weekenddtYMD'].sort_values().drop_duplicates()

0         2019-01-26
475912    2019-02-02
347013    2019-02-09
84635     2019-02-16
328512    2019-02-23
108919    2019-03-02
39557     2019-03-09
173380    2019-03-16
458262    2019-03-23
111386    2019-03-30
438613    2019-04-06
310996    2019-04-13
205730    2019-04-20
418249    2019-04-27
238803    2019-05-04
373815    2019-05-11
352989    2019-05-18
114841    2019-05-25
396044    2019-06-01
267588    2019-06-08
504836    2019-06-15
463976    2019-06-22
268845    2019-06-29
505910    2019-07-06
336440    2019-07-13
294054    2019-07-20
445258    2019-07-27
119351    2019-08-03
508181    2019-08-10
487268    2019-08-17
120333    2019-08-24
509256    2019-08-31
532732    2019-09-07
273839    2019-09-14
489473    2019-09-21
534208    2019-09-28
534588    2019-10-05
382078    2019-10-12
56411     2019-10-19
164925    2019-10-26
362557    2019-11-02
342265    2019-11-09
102634    2019-11-16
254382    2019-11-23
255181    2019-11-30
324394    2019-12-07
365123    2019-12-14
453019    2019-12-21
514721    2019-12-28
105276    2020-01-04
191366    2020-01-11
386672    2020-01-18
Name: weekenddtYMD, dtype: object

In [10]:
data_group = data.groupby(['shopnum', 'weekenddtYMD'])['qtyonorder'].sum().reset_index().rename(columns={'qtyonorder':'onorder'})
data_group

      shopnum weekenddtYMD  onorder
0          17   2019-01-26       46
1          17   2019-02-02       14
2          17   2019-02-09       40
3          17   2019-02-16       21
4          17   2019-02-23       36
...       ...          ...      ...
1347      384   2019-12-21       30
1348      384   2019-12-28       18
1349      384   2020-01-04        0
1350      384   2020-01-11      174
1351      384   2020-01-18       60

[1352 rows x 3 columns]

In [12]:
data_mean = data_group.groupby('shopnum')['onorder'].mean().reset_index().rename(columns={'qtyonorder':'onorder'})
data_mean

    shopnum     onorder
0        17   33.557692
1        46    0.000000
2       202  108.500000
3       203  109.288462
4       204  128.423077
5       207   21.038462
6       208   38.365385
7       209   81.980769
8       211   54.557692
9       212   41.250000
10      214   53.750000
11      215   67.807692
12      219  415.057692
13      220   45.807692
14      222  102.461538
15      231   76.038462
16      233   37.076923
17      234   34.038462
18      236   56.961538
19      237   73.519231
20      238   96.134615
21      246   77.461538
22      259   45.826923
23      271   73.230769
24      278   34.576923
25      384  100.769231

In [14]:
data_mean.to_csv('NSWsales_group.csv')

# Min DC Selection

In [72]:
from bs4 import BeautifulSoup

In [103]:
def getData(plan):
    cost_uni_dist = {'sr': 0.336, 'lr': 0.54, 'ar': 0.8785}
    cost_uni_time = 0.5167
    cost_vehicles = {'sr': 70000, 'lr': 90000, 'ar': 200000}
    f = open("Directions/{}.html".format(plan),"r",encoding="utf-8")
    f = f.read()
    bs = BeautifulSoup(f, 'html.parser')
    heads_html = bs.find_all('tr', id='head')
    route_list = []
    vehicle_type = {'Small Rigid': 'sr', 'Large Rigid': 'lr', 'Articulated': 'ar'}
    for head_html in heads_html:
        route = {}
        title = head_html.find('td', attrs={"colspan":4}).text.strip("Route: ")
        dist = int(head_html.find('td', id='length').text.strip('km'))
        time_raw = head_html.find('td', id='time').text
        time_list = time_raw.strip(' min').split('hr')
        if time_list[0] != '':
            time_hour = int(time_list[0].strip())
        else:
            time_hour = 0
        if time_list[1] != '':
            time_min = int(time_list[1].strip())
        else:
            time_min = 0
        time_format = time_hour * 60 + time_min
        route['name'] = title
        route['dist'] = dist
        route['time'] = time_format
        name_raw = re.split(r'(\D*)', route['name'], 1)
        route['type'] = vehicle_type[name_raw[1]]
        route['vid'] = name_raw[2]  
        route_list.append(route)
    data_route = pd.DataFrame(route_list)
    def getCost(arr):
        vtype = arr['type']
        arr['dist_cost'] = arr['dist'] * cost_uni_dist[vtype]
        arr['time_cost'] = arr['time'] * cost_uni_time
        arr['vehicle_cost'] = cost_vehicles[vtype]
        cost = arr['dist_cost'] + arr['time_cost'] + arr['vehicle_cost']
        arr['cost'] = cost
        return arr
    data_route = data_route.apply(getCost, axis=1)
    return data_route

In [141]:
dc_list = [1, 2, 3, 4]
dc_data = []

## 1 DC

In [173]:
data_route = getData('1_13')
cost = data_route['cost'].sum()
print('Total cost:{:.2f}'.format(cost))
dist_cost = data_route['dist_cost'].sum()
time_cost = data_route['time_cost'].sum()
vehicle_cost = data_route['vehicle_cost'].sum()
dist_cost_rate = dist_cost / cost * 100
time_cost_rate = time_cost / cost * 100
vehicle_cost_rate = data_route['vehicle_cost'].sum() / cost * 100
print('Dist cost rate: {:.4f}%,\nTime cost rate: {:.4f}%,\nVehicle cost rate: {:.4f}%'.format(dist_cost_rate, time_cost_rate, vehicle_cost_rate))
dc_dict = {}
dc_dict['cost'] = cost
dc_dict['dist_cost'] = dist_cost
dc_dict['time_cost'] = time_cost
dc_dict['vehicle_cost'] = vehicle_cost
dc_data.append(dc_dict)
data_route

Total cost:1764909.66
Dist cost rate: 0.1360%,
Time cost rate: 0.1422%,
Vehicle cost rate: 99.7218%

,name,dist,time,type,vid,dist_cost,time_cost,vehicle_cost,cost
0,Articulated01,210,515,ar,01,184.4850,266.1005,200000,200450.5855
1,Articulated02,290,554,ar,02,254.7650,286.2518,200000,200541.0168
2,Articulated03,290,554,ar,03,254.7650,286.2518,200000,200541.0168
3,Articulated04,316,374,ar,04,277.6060,193.2458,200000,200470.8518
4,Articulated05,307,522,ar,05,269.6995,269.7174,200000,200539.4169
5,Articulated06,423,691,ar,06,371.6055,357.0397,200000,200728.6452
6,Articulated08,330,574,ar,08,289.9050,296.5858,200000,200586.4908
7,Articulated91,273,454,ar,91,239.8305,234.5818,200000,200474.4123
8,Large Rigid01,360,407,lr,01,194.4000,210.2969,90000,90404.6969
9,Small Rigid91,189,211,sr,91,63.5040,109.0237,70000,70172.5277

## 2 DCs

In [174]:
data_route = getData('2_11_2')
cost = data_route['cost'].sum()
print('Total cost:{:.2f}'.format(cost))
dist_cost = data_route['dist_cost'].sum()
time_cost = data_route['time_cost'].sum()
vehicle_cost = data_route['vehicle_cost'].sum()
dist_cost_rate = dist_cost / cost * 100
time_cost_rate = time_cost / cost * 100
vehicle_cost_rate = data_route['vehicle_cost'].sum() / cost * 100
print('Dist cost rate: {:.4f}%,\nTime cost rate: {:.4f}%,\nVehicle cost rate: {:.4f}%'.format(dist_cost_rate, time_cost_rate, vehicle_cost_rate))
dc_dict = {}
dc_dict['cost'] = cost
dc_dict['dist_cost'] = dist_cost
dc_dict['time_cost'] = time_cost
dc_dict['vehicle_cost'] = vehicle_cost
dc_data.append(dc_dict)
data_route

Total cost:1704100.43
Dist cost rate: 0.1010%,
Time cost rate: 0.1397%,
Vehicle cost rate: 99.7594%

,name,dist,time,type,vid,dist_cost,time_cost,vehicle_cost,cost
0,Articulated01,193,386,ar,01,169.5505,199.4462,200000,200368.9967
1,Articulated02,333,636,ar,02,292.5405,328.6212,200000,200621.1617
2,Articulated03,85,297,ar,03,74.6725,153.4599,200000,200228.1324
3,Articulated04,74,308,ar,04,65.0090,159.1436,200000,200224.1526
4,Articulated05,60,192,ar,05,52.7100,99.2064,200000,200151.9164
5,Articulated06,60,192,ar,06,52.7100,99.2064,200000,200151.9164
6,Articulated91,504,649,ar,91,442.7640,335.3383,200000,200778.1023
7,Large Rigid01,206,432,lr,01,111.2400,223.2144,90000,90334.4544
8,Small Rigid03,212,315,sr,03,71.2320,162.7605,70000,70233.9925
9,Small Rigid91,591,613,sr,91,198.5760,316.7371,70000,70515.3131
10,Small Rigid92,564,586,sr,92,189.5040,302.7862,70000,70492.2902

In [175]:
data_route.to_csv('data_route.csv')

## 3 DCs

In [144]:
data_route = getData('3_11')
cost = data_route['cost'].sum()
print('Total cost:{:.2f}'.format(cost))
dist_cost = data_route['dist_cost'].sum()
time_cost = data_route['time_cost'].sum()
vehicle_cost = data_route['vehicle_cost'].sum()
dist_cost_rate = dist_cost / cost * 100
time_cost_rate = time_cost / cost * 100
vehicle_cost_rate = data_route['vehicle_cost'].sum() / cost * 100
print('Dist cost rate: {:.4f}%,\nTime cost rate: {:.4f}%,\nVehicle cost rate: {:.4f}%'.format(dist_cost_rate, time_cost_rate, vehicle_cost_rate))
dc_dict = {}
dc_dict['cost'] = cost
dc_dict['dist_cost'] = dist_cost
dc_dict['time_cost'] = time_cost
dc_dict['vehicle_cost'] = vehicle_cost
dc_data.append(dc_dict)
data_route

Total cost:1703767.07
Dist cost rate: 0.0915%,
Time cost rate: 0.1296%,
Vehicle cost rate: 99.7789%

,name,dist,time,type,vid,dist_cost,time_cost,vehicle_cost,cost
0,Articulated01,304,602,ar,01,267.0640,311.0534,200000,200578.1174
1,Articulated02,61,195,ar,02,53.5885,100.7565,200000,200154.3450
2,Articulated03,76,300,ar,03,66.7660,155.0100,200000,200221.7760
3,Articulated04,107,333,ar,04,93.9995,172.0611,200000,200266.0606
4,Articulated05,62,199,ar,05,54.4670,102.8233,200000,200157.2903
5,Articulated06,74,308,ar,06,65.0090,159.1436,200000,200224.1526
6,Articulated91,504,649,ar,91,442.7640,335.3383,200000,200778.1023
7,Large Rigid01,130,238,lr,01,70.2000,122.9746,90000,90193.1746
8,Small Rigid03,172,249,sr,03,57.7920,128.6583,70000,70186.4503
9,Small Rigid91,591,613,sr,91,198.5760,316.7371,70000,70515.3131
10,Small Rigid92,564,586,sr,92,189.5040,302.7862,70000,70492.2902

## 4 DCs

In [145]:
data_route = getData('4_11_2')
cost = data_route['cost'].sum()
print('Total cost:{:.2f}'.format(cost))
dist_cost = data_route['dist_cost'].sum()
time_cost = data_route['time_cost'].sum()
vehicle_cost = data_route['vehicle_cost'].sum()
dist_cost_rate = dist_cost / cost * 100
time_cost_rate = time_cost / cost * 100
vehicle_cost_rate = data_route['vehicle_cost'].sum() / cost * 100
print('Dist cost rate: {:.4f}%,\nTime cost rate: {:.4f}%,\nVehicle cost rate: {:.4f}%'.format(dist_cost_rate, time_cost_rate, vehicle_cost_rate))
dc_dict = {}
dc_dict['cost'] = cost
dc_dict['dist_cost'] = dist_cost
dc_dict['time_cost'] = time_cost
dc_dict['vehicle_cost'] = vehicle_cost
dc_data.append(dc_dict)
data_route

Total cost:1703794.46
Dist cost rate: 0.0926%,
Time cost rate: 0.1301%,
Vehicle cost rate: 99.7773%

,name,dist,time,type,vid,dist_cost,time_cost,vehicle_cost,cost
0,Articulated01,304,602,ar,01,267.0640,311.0534,200000,200578.1174
1,Articulated02,61,195,ar,02,53.5885,100.7565,200000,200154.3450
2,Articulated03,74,308,ar,03,65.0090,159.1436,200000,200224.1526
3,Articulated04,107,333,ar,04,93.9995,172.0611,200000,200266.0606
4,Articulated05,78,286,ar,05,68.5230,147.7762,200000,200216.2992
5,Articulated06,80,232,ar,06,70.2800,119.8744,200000,200190.1544
6,Articulated91,504,649,ar,91,442.7640,335.3383,200000,200778.1023
7,Large Rigid01,130,238,lr,01,70.2000,122.9746,90000,90193.1746
8,Small Rigid03,172,249,sr,03,57.7920,128.6583,70000,70186.4503
9,Small Rigid91,564,586,sr,91,189.5040,302.7862,70000,70492.2902
10,Small Rigid92,591,613,sr,92,198.5760,316.7371,70000,70515.3131

## Conclusion

In [146]:
data_output = pd.DataFrame(data=dc_data, index=dc_list).reset_index().rename(columns={'index':'number of facility'})
data_output

   number of facility          cost  dist_cost  time_cost  vehicle_cost
0                   1  1.764910e+06  2400.5655  2509.0952       1760000
1                   2  1.704100e+06  1720.5085  2379.9202       1700000
2                   3  1.703767e+06  1559.7300  2207.3424       1700000
3                   4  1.703794e+06  1577.3000  2217.1597       1700000

In [172]:
data_output.to_csv('output.csv')

In [167]:
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots

In [171]:
fig = make_subplots(specs=[[{"secondary_y": True}]])
fig.add_trace(go.Bar(x=dc_list, y=data_output.iloc[:, 2], name='distance cost'), secondary_y=False)
fig.add_trace(go.Bar(x=dc_list, y=data_output.iloc[:, 3], name='time cost'), secondary_y=False)
fig.add_trace(go.Scatter(x=dc_list, y=data_output['cost'], name='total cost'), secondary_y=True)
# fig.add_trace(go.Bar(x=dc_list, y=data_output.iloc[:, 4], name='vehicle'))
fig.update_xaxes(title_text="Number of facility")
fig.update_yaxes(title_text="Distance & Time cost", secondary_y=False)
fig.update_yaxes(title_text="Total cost", secondary_y=True)
fig.update_layout(title_text="Number of facility vs Cost", barmode='stack')
fig.show()